* {
    font-family: 'Inter', sans-serif;
}


body {
    background-color: #121212;
    /* background-color: #073D3D; */
    background-color: #003D3D;
    /* background-color: #0076CE; */
    /* background-color: #018a8a; */
    padding-top: 65px; 
}

.bodyA {
    background-color: #121212;
    /* background-color: #073D3D; */
    /* background-color: #003D3D; */
    /* background-color: #0076CE; */
    /* background-color: #018a8a; */
    padding-top: 65px; 
}
.bodyB {
    background-color: #4b2c53;
    /* background-color: #073D3D; */
    /* background-color: #003D3D; */
    /* background-color: #0076CE; */
    /* background-color: #018a8a; */
    padding-top: 65px; 
}

.homeBody {
    padding-top: 0;
}


html, body {
    height: 100%;
}

#homeJumbotron {
    background-image: url(https://picsum.photos/1920/1080);
    background-repeat: no-repeat; 
    background-size: cover; 
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    min-height: 450px;
    

}
/* 
#homeJumbotronContent {
    padding-top: 100px;
} */

@media only screen and (min-width: 992px) {
    #homeJumbotronContent {
        padding-top: 50px;
    }
}

.bgParallax {
    background-attachment: fixed;
    background-position: center;
}

#homeJumbotron p {
    font-family: 'Merriweather', serif;
    font-style: italic;   
    letter-spacing: .05rem;     
}

.blogCard {
    background-color: #303030;
}

#homeNavbar {
    font-family: 'Playfair Display', serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    letter-spacing: .05rem;
}

.dropdown-toggle {
    border: none;
}



.dropdown-menu {
    text-shadow: none;
    
    /* remove letter-spacing set in #homeNavbar, since this has no border: */
    letter-spacing: normal;  
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block; 
    }
}

.footerLink, .footerSocial {
    font-size: 1.5rem;
}

hr {
    border: 1px solid white;
}

.cardDeckImg {
    object-fit: cover;
    width: 100%;

    /* vw is viewport width, this is height as a percentage of viewport */
    height: 50vw; 
}

@media only screen and (min-width: 576px) {
    .cardDeckImg {
        height: 40vw;
    }
}

@media only screen and (min-width: 768px) {
    .cardDeckImg {
        height: 28vw;
    }
}

@media only screen and (min-width: 992px) {
    .cardDeckImg {
        height: 20vw;
    }
}

@media only screen and (min-width: 1200px) {
    .cardDeckImg {
        height: 15vw;
    }
}

.bgGradient {
    /* background-image: linear-gradient(to bottom, #494040, #272727); */
    background-color: #018a8a;
}

.bgColorA {
    /* background-image: linear-gradient(to bottom, #494040, #272727); */
    background-color: #003D3D;
}
.bgColorB {
    /* background-image: linear-gradient(to bottom, #494040, #272727); */
    background-color: #3B876B;
}
.bgColorC {
    /* background-image: linear-gradient(to bottom, #494040, #272727); */
    background-color: #73a88e;
}

.bgNavbarOpaque {
    background-color: rgba(0,0,0,0.2);
}

.btnCustom {
    background-color: #73a88e;
    /* background-color: #18D6D6; */
    /* background-color: #4170A3; */
    color: #f8f9fa;
    /* border: solid 1px black; */
}

.btnCustomA {
    background-color: #73a88e;
    /* background-color: #18D6D6; */
    /* background-color: #4170A3; */
    color: #f8f9fa;
    /* border: solid 1px black; */
}
.btnCustomB {
    /* background-color: #73a88e; */
    background-color: rgb(255,244,79);
    /* background-color: #18D6D6; */
    /* background-color: #4170A3; */
    color: #f8f9fa;
    /* border: solid 1px black; */
}
.btnCustomC {
    /* background-color: #73a88e; */
    background-color: rgb(223, 212, 63);
    /* background-color: #18D6D6; */
    /* background-color: #4170A3; */
    /* color: #f8f9fa; */
    /* border: solid 1px black; */
}