* {
    font-family: 'Inter', sans-serif;
}


body {
    background-color: #121212;
    padding-top: 65px; 
}

.homeBody {
    padding-top: 0;
}


html, body {
    height: 100%;
}

#homeJumbotron {
    background-image: url(https://picsum.photos/1920/1080);
    background-repeat: no-repeat; 
    background-size: cover; 
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    

}

#homeJumbotron p {
    font-family: 'Merriweather', serif;
    font-style: italic;   
    letter-spacing: .05rem;     
}

.blogCard {
    background-color: #303030;
}

#homeNavbar {
    font-family: 'Playfair Display', serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    letter-spacing: .05rem;
}

.dropdown-toggle {
    border: none;
}



.dropdown-menu {
    text-shadow: none;
    
    /* remove letter-spacing set in #homeNavbar, since this has no border: */
    letter-spacing: normal;  
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block; 
    }
}

.footerLink, .footerSocial {
    font-size: 1.5rem;
}

hr {
    border: 1px solid white;
}

.cardDeckImg {
    object-fit: cover;
    width: 100%;
    height: 15vw;
}

.bgGradient {
    background-image: linear-gradient(to bottom, #494040, #272727);
}

.bgNavbarOpaque {
    background-color: rgba(0,0,0,0.2);
}

.btnCustom {
    background-color: #73a88e;
    color: #f8f9fa;
}